body {
  background-color: #e2e8f0;
}

.logo svg {
  fill: white;
  width: 200px;
}

.icon {
  height: 100%;
  display: flex;
  align-items: center;
}
.icon svg {
  height: 0.825em;
  margin-top: -2px;
  margin-right: 0.5em;
}
